<p>
  Olá tudo bem ?</strong>,
</p>
<p>
  O {{ name }} compartilhou evento com você <strong>({{ event.title }})</strong>.
</p>
<p>
  Abaixo segue mais informações.
</p>
<p>
  Título: {{ event.title }}
</p>
<p>
  Localização: {{ event.localization }}
</p>
<p>
  Data/Horário: {{ event.date }}
</p>
